.create {
    display:flex;
    justify-content: center;
    min-height: 87vh;
}
.create-form {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 8rem; 
    border: 1px solid;
    box-shadow: 1px 1px 2px 2px ;
}
.description {
    padding-bottom:4rem;
    min-height: 50px;
    min-width: 1rem;
    /* want this to expand down if description is long */
}