.singles-post {
    min-height: 85vh;
}
.single-post-header {
    margin-top: 1rem;
    text-align: center;
    text-decoration: underline;
}
.ones-post {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 1rem;
    padding: 2rem; 
    border: 1px solid;
    box-shadow: 1px 1px 2px 2px ;
}
.post-title {
    margin: 4px;
}
.post-body {
    margin: 4px;
}
.author {
    margin: 4px;
}
.delivery {
    margin: 4px;
    font-weight: 700;
}
.post-info {
    list-style: none;
    margin: 4px;
}
.post-location{
    margin: 4px;
}
.post-price {
    margin: 4px;
}

.home-button {
    margin: 4px;
    padding: 5px;
    font-size: medium;
}