.allposts {
    display: flex;
    flex-direction: column;
}
.one-post {
    margin: 10px;
    padding: 2rem; 
    border: 1px solid;
    box-shadow: 1px 1px 2px 2px ;
}
.post-title {
    margin: 4px;
}
.post-body {
    margin: 4px;
}
.author {
    margin: 4px;
}