.login {
    display:flex;
    justify-content: center;
    min-height: 87vh;
}
.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 8rem; 
    border: 1px solid;
    box-shadow: 1px 1px 2px 2px ;
}