.profile {
    min-height: 85vh;
}
.messages {
    display: flex;
    margin: 10px;
    padding: 2rem; 
    border: 1px solid;
    box-shadow: 1px 1px 2px 2px;
}
.yourPosts {
    display: flex;
    margin: 10px;
    padding: 2rem; 
    border: 1px solid;
    box-shadow: 1px 1px 2px 2px ;
}
.no-messages {
    display: flex;
    align-items: center;
    padding: 6px;
}
.no-posts {
    display: flex;
    align-items: center;
    padding: 6px;
}