* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.app, html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
.navbar {
    display: flex;
    background-color: lightskyblue;
    padding: 1rem;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 6px;
}
.navlinks {
    display: flex;
    list-style: none;
    align-items: center;
}

.link {
    padding: 10px;
    margin-right: 4px;
}

.home {
    margin-top: 12px;
    width: 99vw;
    min-height: 100vh;
}
.home-header {
    text-align: center;
}


.details-button {
    margin: 4px;
    padding: 5px;
    font-size: medium;
}
.footer {
    display: flex;
    padding: 1rem;
    position: sticky;
    bottom: 0;
    background-color: lightskyblue;
    justify-content: center;
    box-shadow: 1px 1px 1px 2px;
    border-radius: 6px;
}
.footlinks {
    display: flex;
}

.footlink {
    padding: 6px;
    margin: 2px;
}